* {
    font-family: "HelveticaNeueLT Std Lt Cn";
}

#formbox {
    margin: auto;
    width: 150px;
    height: 250px;
    margin-top: 30px;
    padding: 50px;
    border: 1px solid blue;
}

body{
background-image: url(../Images/);

}